.hamburger-menu {
    --size: 30px;
    display: none;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display:none;
    align-items:center;
  }
  
  .hamburger {
    position: relative;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width:var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
  }
  
  .hamburger::before {
    top: -10px;
  }
  
  .hamburger::after {
    bottom: -10px;
  }
  
  .hamburger-menu.active .hamburger {
    background-color:transparent;
  }
  
  .hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
  }
  
  .hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
  }
  