/* Footer Section */

footer.section{
    margin-top: 50px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--body-bg);
  }
  
  footer a:hover {
    color: var(--main-color);
  }
  
  footer a.logo:hover {
    color:unset;
  }
  
  footer a.logo {
    margin-top: -2.5rem;
    display: block;
  }
  
  .social-list {
    display:flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
  }
  
  .social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
  }
  
  .social-item ~ .social-item {
    margin-left: 20px;
  }
  
  footer .content {
    margin-top: 20px;
  }
  
  .content-footer-title{
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .footer-menu{
    list-style-type: none;
  }
  
  .footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  
  .footer-menu a:hover {
    transform: translateX(5px);
  }
  
  /* End Footer Section */

  /* Copyright section */
.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align:center;
  }
  /* End Copyright section */