:root {
  --main-color: #c0392b;
  --body-bg: #181616;
  --box-bg:#221f1f;
  --text-color:#ffffff;

  --nav-height: 60px;
  --space-top: 30px;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  /* padding: var(--nav-height); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


a{
  text-decoration: none;
  color:unset
}

img {
  max-width: 100%;
}

.main-color {
  color: var(--main-color);
}

.container {
   max-width: 1920px;
   padding: 0 40px;
   margin: auto;
}

.overlay {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,0.5);
}

.nav-wrapper {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #000000;
}

.nav {
  display: flex;
  align-items:center;
  justify-content: space-between;
  color:var(--text-color);
  height: var(--text-color)
}

.nav a {
  color: var(--text-color);
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}

.nav-menu {
  list-style-type: none;
  display:flex;
  align-items:center;
  padding: 0 20px;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.nav-menu a {
  text-decoration: uppercase;
  font-weight: 700;
}

.nav-menu a:hover {
  color: var(--main-color);
}

.nav-menu a.btn:hover, 
a.logo:hover,
a.movie-item:hover {
  color: unset;
}

.btn {
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  align-items: center;
}

.btn-hover::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
  width: 100%;
}

.btn i,
.btn span {
  z-index: 1;
}

.btn i {
  margin-right: 1rem;
}
/* ----------------------------- */



/* Top Movies slide */

/* .movie-item {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 140%;
  cursor: pointer;
  border-radius: 15px;
}

.movie-item img {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  transition: transform 0.3s linear;
}

.movie-item:hover img {
  transform: scale(1.2);
}

.movie-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8)
}

.movie-item-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.movie-item-title {
  color: var(--text-color);
  font-size: 1.5rem;
  position: relative;
  font-weight: 700;
} */
/* End Top Movies slide */

/* Movies Section */

/* .section{
  padding-top: 80px;
}

.section-header{
  margin-bottom: 30px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-left: 4px solid var(--main-color);
  display: flex;
  align-items: center;
} */

/* End Movies Section */

/* Pricing Section */
/* .pricing-header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.pricing-box {
  padding: 50px;
  margin: 15px 0;
  background-color: var(--box-bg);
  border-top: 5px solid transparent;
  transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
  transform: translateY(-20px);
}

.pricing-box.hightlight {
  border-top:  5px solid var(--main-color);
}

.pricing-box-header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size: 1.5rem;
}

.pricing-price{
  font-weight: 700;
}

.pricing-price span {
  font-size: 1rem;
}

.pricing-box-content {
  text-align: center;
  margin-top: 60px;
  font-size: 1.25rem;
}

.pricing-box-action {
  text-align: center;
  margin-top: 60px;
} */

/* End Pricing Section */





/* RESPONSIVE */

@media only screen and (max-width: 1900px) {
  html {
      font-size: 14px;
  }

  .hero-slide-item {
      padding-top: 50%;
  }

  .item-content-wrapper{
      width: 50%;
  }

}

@media only screen and (max-width: 850px) {
  html {
      font-size: 12px;
  }

  .hero-slide-item {
      height:max-content;
      padding-top: 30px;
  }

  .item-content-wrapper{
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
      padding-right: 5rem;
      background-color: rgba(0, 0, 0, 0.2);
  }

  .hero-slide-item-content {
      position: relative;
  }

  .hero-slide-item img {
      height: 100%;
  }

  .item-content-title {
      font-size: 3rem;
  }

  .hamburger-menu {
      display:grid;
  }

  .nav-menu {
      /* display: none; */
      position:absolute;
      top:100%;
      left:-100%;
      background-color: #000000;
      flex-direction: column;
      width: 80%;
      height: 100vh;
      padding: 20px;
      transition: 0.3s ease-in-out;
  }

  .nav-menu li {
      margin: 10px 30px;
  }

  .nav-menu.active {
      left: 0;
  }
}

.movie-item-heart {
  position: absolute;
  opacity: 0.2;
  font-size: 30px;
  z-index: 10;
  color: #ffffff;
  top:3%;
  right: 3%;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  border: 2px solid red;
  border-radius:50%;
}

.movie-item-heart:hover {
  opacity: 1;
  color: rgb(250, 37, 29);
  font-weight: 700;
  transform: scale(1.2);
}

/*  */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -15px;
}

[class*="col-"] {
  padding: 0 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.99%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 49.99%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* Medium Screen */

@media only screen and (max-width: 1280px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 24.99%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 49.99%;
  }

  .col-md-7 {
    width: 58.31%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/* Small Screen */

@media only screen and (max-width: 850px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 24.99%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 49.99%;
  }

  .col-sm-7 {
    width: 58.31%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
